@page
@model Waveylength.Pages.LobbyModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Lobby";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center">Wavelength Lobby</h2>

    <form method="post" asp-page-handler="CreateLobby">
        <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Create Room</button>
        </div>
    </form>


    <div class="d-grid gap-2">
        <!-- Join Room Button -->
        <a class="btn btn-secondary btn-lg" asp-page="JoinRoom">Join Room</a>
    </div>
</div>
